/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* 
* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: sans-serif;
}

body {
  background-color: linear-gradient(0 deg, rbga(195, 126, 34, 1) 0%,
    rbga(234, 253, 45, 0.5) 100%);
}
.App{
display: flex;
} */